/* font-family: 'Barlow', sans-serif;
font-family: 'EB Garamond', serif;*/

:root {
    --dblue: #1E3934;
    --blue: #297873;
    --lblue: #71A7A3;
    --lgrey: #B4B6AD;
    --blue2: #7D9F92;
    --grey: #67746B;
    --red: #6E2B1D;
    --dred: #4C1513;
    --dred-nav: rgba(76, 21, 19, 0.8);
    --pink:#B38474;
    --lpink: #CFB5A7;
    --black: #101A19;
    --taupe: #A7896F;
    --orange:#B9732E;
}

a {
    text-decoration: none;
    color: inherit;
}

html, 
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    font-family: 'Barlow', sans-serif;
    margin: 0;
    height: 100%;
    padding: 0;
    top: 0;
}

h1,
h2 {
    color: white;
}

h1 {
    margin: 0;
    font-size: 3em;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    letter-spacing: -1.5px;
    color: white;
}

h2 {
    font-weight: 400;
    font-size: 1.5em;
    margin: 0;
}

h3 {
    margin: 0;
    padding: 1rem 0 .5rem 0;
    font-family: 'Barlow', sans-serif;
}

i {
    color: var(--mauve);
}

img {
    object-fit: cover;
}

input {
    height: 2rem;
}

input, 
textarea {
    font-family: 'EB Garamond', serif;
    font-size: 1.3em;
    padding: .6rem;
    border-radius: 10px;
    border: 1px solid var(--red);
    background-color: var(--lpink);
}


p {
    margin: 0;
    font-size: 1.2em;
    font-family: 'EB Garamond', serif;
}

li {
    list-style-type: none;
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


form {
    margin: 0 auto;
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}

nav {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 4.5rem;
    z-index: 9999;
}

nav li {
    color: white;
    padding: .3rem .5rem;
}

nav li:hover, 
nav li.active {
    border-bottom: 1px solid white;
}


nav ul {
    width: 60%;
    align-self: center;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    font-size: 1.3em;
    text-transform: uppercase;
}

.hero__container {
    height: 100vh;
    background-image: url("pexels-whicdhemein-one-5550454.png");
    background-size: cover;
    top: 0;
}

.hero__content {
    height: 100%;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .5fr 8fr .5fr;
    flex-direction: column;
}

.hero__content nav {
    background-color: var(--dred);
    top: 0;
}

.nav__container {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    vertical-align: middle;
    height: 100%;
}


.initials {
    width: 100%;
}

.initials h1 {
    font-size: 2.1em;
    color: var(--lpink)
}

.initials h1:hover {
    letter-spacing: .1px;
    color: #f2eae6;
}

.initials h1 span {
    font-weight: 400;
}

.initials h1 i {
    font-weight: 300;
}

.resume {
    grid-column: 3;
    grid-row: 1;
    font-size: 1.3rem;
    text-transform: uppercase;
    background-color: rgba(179, 132, 116, 0.5);
    border-radius: 5px;;
    padding: .3rem 1rem;
    color: white;
    margin: 0 auto;
}

.resume:hover {
    background-color: var(--lpink);
    color: black;
    transition: .2s ease-out;
}


.hero__shape {
    background-color: rgba(30, 57, 52, .9);
    height: 38%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-row: 2;
    border-top: 10px double var(--blue2);
    border-bottom: 10px double var(--blue2);
    border-radius: 30px;
    padding: 1rem 0;
    align-self: center;
}

.hero__shape a,
.contact__nav2 {
    background-color: var(--red);
    color: white;
    max-width: 40%;
    margin-top: 2rem;
    padding: .3rem .7rem;
    height: 2rem;
    width: 8rem;
    font-size: 1.2em;
    font-weight: 500;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.35) 0px 50px 100px -20px, rgba(0, 0, 0, 0.4) 0px 30px 60px -30px, rgba(10, 37, 64, 0.65) 0px -2px 6px 0px inset;        
}

.hero__shape h1 {
    font-size: 2.2em;
    letter-spacing: -1px;
    font-weight: 400;
}

.hero__shape h2 {
    font-size: 1.2em;
    padding-top: .3rem;
}

.about__container {
    background-color: var(--blue2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 10%;
    min-height: 45vh;
}


.about__content {
    height: 100%;
}

.about__container h1 {
    color: var(--dred);
}

.about__text {
    text-align: justify;
    font-family: 'EB Garamond', serif;
    color: var(--black);
    font-size: 1.2em;
    padding-top: 1.5rem;
    max-width: 40rem;
}

.contact__nav2 {
    font-size: 1.2em;
    text-transform: none;
    font-family: 'Barlow';
    font-weight: 400;
    background-color: var(--pink);
    color: black;
}

.about__socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
    background-color: rgba(255, 255, 255, 0.2);
    padding-bottom: 1.5rem;
    border-radius: 0 0 20px 20px;
}

.about__facts {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr 3fr 2fr;
    column-gap: .7rem;
    row-gap: .5rem;
    align-items: flex-start;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 1.5rem 1.5rem 0 0;
    border-radius: 20px 20px 0 0;
}

.about__facts span:nth-child(3){
    align-self: flex-start;
}


.about__facts span {
    font-weight: 600;
    font-size: 1.3em;
    text-align: end;
}

.about__facts p {
    font-size: 1.4em;
}

.projects__container {
    background-color: var(--black);
    padding: 2rem 0;
}

.projects__content {
    padding: 1rem 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

img {
    width: 100%;
    aspect-ratio: 1 / 1;
}

.project__1,
.project__2,
.project__3 {
    padding: 1em 0;
    text-align: center;
    color: white;
}


.project__1 p,
.project__2 p,
.project__3 p {
    padding: 0 .5rem;
    color: var(--lpink)
}

.skills__container {
    background-color: var(--dblue);
    padding: 10%;
}

.skills__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-top: 2rem;
    height: 20rem;
}


.skills__content h3 {
    color: white;
    font-weight: 400;
}

.skills__left,
.skills__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
    max-height: 100%
}

.skills__icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.html, 
.css,
.javascript {
    text-align: center;
}

.skills__icons i.fab, 
.skills__icons i.fas {
    color: var(--lpink);
}

.resume__button button{
    background-color: var(--red);
    color: white;
    padding: .7rem 2.5rem;
    font-size: 1.2em;
    font-weight: 500;
    font-family: 'Barlow', sans-serif;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.55) 0px 50px 100px -20px, rgba(0, 0, 0, 0.6) 0px 30px 60px -30px, rgba(10, 37, 64, 0.65) 0px -2px 6px 0px inset;
}

.skills__right {
    width: 100%;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 6fr;
    align-items: flex-start;
}



.skills__right h2 {
    grid-column: 1 / 3;
    text-align: center;
    height: 100%;
    margin-bottom: 1.5rem;
}

.col-1,
.col-2 {
    padding: 0;
    margin: -6rem;
}

.col-1 {
    grid-column: 1;
}

.col-2 {
    grid-column: 2;
}


.skills__right ul,
.skills__right li {
    margin: 0;
    width: 100%;
}



.contact__container {
    background-color: var(--pink);
    padding: 2rem 0;
    text-align: center;
}


.contact__content h1 {
    color: var(--dblue);
    font-weight: 500;
}

.contact__text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0 2rem 0;
}

.contact__text a {
    font-family: 'Barlow', sans-serif;
    text-decoration: none;
    color: var(--red);
    font-size: 1.4em;
    font-weight: 400;
}

.contact__socials {
    display: none;
}

.contact__text a:hover {
    color: var(--yellow);
}

.form__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    margin-bottom: 8vh;
    padding-bottom: 2rem;
}

#message {
    height: 6rem;
}

#submit {
    height: 3rem;
    width: 40%;
    text-transform: uppercase;
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
    background-color: var(--orange);
    color: var(--dblue);
    border:none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}


i.fas,
i.fab {
  color: var(--red);
}

@media (max-width: 900px) {

    h1 {
        font-size: 2.3em;
    }

    .hero__shape a {
        font-size: 1.2em;
    }

    .hero__content .disappear {
        display: none;
    }

    li {
        border: none;
    }

    .about__container {
        height: 100vh;
        padding: 8% 0;
    }

    .about__content {
        margin: 0 auto;
        width: 80%;
    }

    .about__text {
        margin-bottom: 2rem;
    }

}

@media (min-width: 900px) {

    footer,
    footer nav {
        display: none;
    }


    .hero__content {
        display: flex;
        justify-content: center;
    }

    .hero__shape {
        width: 50%;
        height: 25%;
    }

    .hero__shape a {
        width: 8rem;
    }

    .hero__shape h1 {
        font-size: 3.4em;
        text-transform: uppercase;
    }

    .hero__shape h2 {
        font-size: 1.7em;
        margin-top: -.5rem;
    }

    
    .about__container {
        padding: 2rem 10% 3rem 10%;
    }
    .about__content {
        display: grid;
        grid-template-columns: 2fr 3fr;
        grid-template-rows: 2fr 1fr;
        height: 100%;
        column-gap: 4rem;
        padding-top: 2rem;
    }

    .about__socials {
        grid-column: 1;
        grid-row: 2;
        align-items: flex-end;
    }

    .about__facts {
        grid-row: 1;
        grid-column: 1;
        align-self: flex-start;
        min-width: 25rem;
    }

    .about__text {
        grid-column: 2;
        grid-row: 1 / 3;
    }

    .projects__container {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .projects__content {
        flex-direction: row;
        gap: 2rem;
    }

    img {
        opacity: 80%;
        border-radius: 10px;
    }

    img:hover {
        opacity: 100%;
    }

    .skills__container {
        padding: 2rem 15% 3rem 15%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .skills__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr 1fr;
        justify-content: space-between;
        align-items: stretch;
        justify-items: center;
        max-width: 60rem;
        row-gap: 0;
        column-gap: 6rem;
    }

    .skills__content h2 {
        padding: 0;
    }

    .skills__left h2, 
    .skills__right h2 {
        gap: 0;
        padding: 0;
        color: white;
        font-weight: 500;
    }

    .skills__right {
        grid-column: 2;
        grid-row: 1 / 3;
        text-align: center;
        row-gap: 0;
        font-size: 1.1em;
        width: 25rem;
        background-color: rgba(125, 159, 146, .4);
        border-radius: 20px;
        padding: 1rem;
    }

    .skills__right ul {
        display: grid;
        font-size: 1.1em;
        justify-content: flex-end;
        float: left;
    }

    .skills__right li {
        justify-content: flex-start;
        font-size: 1.2rem;
    }

    .skills__left {
        justify-content: flex-start;
        height: 100%;
        border-radius: 20px 20px 0 0;
        background-color: rgba(125, 159, 146, .4);
        padding-top: 1rem;
        max-width: 25rem;
    }

    .resume__button {
        background-color: rgba(125, 159, 146, .4);
        border-radius: 0 0 20px 20px;
        width: 25rem;
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        padding-bottom: 1rem;
    }

    .resume__button button {
        margin: 0;
        height: 80%;
    }
    .contact__container {
        background-color: var(--blue2);
        max-height: 100vh;
        padding-top: 10vh;
    }

    .contact__content {
        display: grid;
        grid-template-columns: 2fr 3fr;
        padding: 1rem 10%;
        justify-content: center;
        align-items: center;
    }

    .contact__socials {
        display: flex;
        justify-content: center;
        gap: .6rem;
    }

    .contact__text h1 {
        margin-bottom: 2rem;
    }

    .contact__text a {
        color: var(--red);
        font-weight: 600;
        margin: .5rem 0;
    }


    .contact__socials i {
        margin-top: 2rem;
        transform: scale(0.7);
        color: var(--dblue);
    }

    .contact__socials i:hover {
        opacity: .7;
    }

    .form__container {
        background-color: var(--pink);
        padding: 3rem 0;
        margin: 0;
        align-self: flex-start;
        justify-self: flex-end;
        width: 100%;
        border-radius: 20px;
        transform: scale(0.8)
    }

    input {
        height: 1.3rem;
    }

    #submit:hover {
        background-color: var(--red);
        color: white;
    }

}