/* font-family: 'Barlow', sans-serif;
font-family: 'EB Garamond', serif;*/

:root {
    --dblue: #1E3934;
    --blue: #297873;
    --lblue: #71A7A3;
    --lgrey: #B4B6AD;
    --grey: #67746B;
    --red: #6E2B1D;
    --pink:#B38474;
    --lpink: #CFB5A7;
    --black: #101A19;
    --taupe: #A7896F;
    --orange:#B9732E;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Barlow', sans-serif;
    margin: 0;
    height: 100%;
    width: 100vw;
    padding: 0;
    top: 0;
}

h1,
h2 {
    color: white;
}

h1 {
    margin: 0;
    font-weight: 400;
    font-size: 3em;
}

h2 {
    font-weight: 400;
    font-size: 1.5em;
    margin: 0;
}

h3 {
    margin: 0;
    padding: 1rem 0 .5rem 0;
    font-family: 'Barlow', sans-serif;
}

i {
    color: var(--mauve);
}

img {
    object-fit: cover;
}

input {
    height: 2rem;
}

input, 
textarea {
    font-family: 'EB Garamond', serif;
    font-size: 1.3em;
    padding: .6rem;
    border-radius: 10px;
    border: 1px solid var(--red);
    background-color: var(--lpink);
}


p {
    margin: 0;
    font-size: 1.2em;
    font-family: 'EB Garamond', serif;
}

li {
    list-style-type: none;
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid black;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: var(--blue);
    color: var(--black);
    width: 100%;
    height: 8vh;
}

footer a {
    text-decoration: none;
    color: inherit;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    margin: 0 auto;
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: .5px;
    height: 100%;
    font-family: 'Barlow', sans-serif;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.hero__container {
    height: 42vh;
    background-image: url("pexels-whicdhemein-one-5550454.png");
    background-size: cover;
    top: 0;

}

.hero__content {
    height: 100%;
    display: flex;
    align-items: center;
}

.hero__shape {
    background-color: rgba(185,115,46, 0.7);
    min-height: 40%;
    width: 75vw;
    border-radius: 0 100px 100px 0;
    padding-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero__shape a {
    background-color: var(--blue);
    color: white;
    max-width: 30%;
    margin-top: 1rem;
    padding: .3rem .7rem;
}

.hero__shape h1 {
    font-size: 2em;
}

.hero__shape h2 {
    font-size: 1.2em;
}

.about__container {
    background-color: var(--lgrey);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 10%;
    min-height: 45vh;
}

.about__content {
    height: 80%;
}

.about__text {
    text-align: justify;
    font-family: 'EB Garamond', serif;
    color: var(--black);
    font-size: 1.2em;
    padding-bottom: 2rem;
}

.about__socials {
    display: flex;
    justify-content: space-evenly;
}

.projects__container {
    background-color: var(--red);
}

.projects__content {
    padding: 2rem 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.projects__content h1 {
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.8px;
    color: var(--lgrey);
}

img {
    width: 100%;
    aspect-ratio: 1 / 1;
}

.project__1,
.project__2,
.project__3 {
    padding: 1em 0;
    text-align: center;
    color: var(--lgrey);
}


.project__1 p,
.project__2 p,
.project__3 p {
    padding: 0 .5rem;
    color: var(--lpink)
}

.contact__container {
    background-color: var(--pink);
    padding: 1rem 0 2rem 0;
    text-align: center;
}


.contact__content h1 {
    color: var(--dblue);
    font-weight: 500;
}

.contact__text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0 2rem 0;
}

.contact__text a {
    font-family: 'Barlow', sans-serif;
    text-decoration: none;
    color: var(--red);
    font-size: 1.4em;
    font-weight: 400;
}

.contact__text a:hover {
    color: var(--yellow);
}

.form__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    margin-bottom: 8vh;
    padding-bottom: 2rem;
}

#message {
    height: 6rem;
}

#submit {
    height: 3rem;
    width: 40%;
    text-transform: uppercase;
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
    background-color: var(--orange);
    color: var(--dblue);
    border:none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}


i.fas,
i.fab {
  color: var(--red);
}

